# 在 9.0 后 pnpm 修改 link-workspace-packages 的默认值为 false
# https://ksh7.com/posts/pnpm-use-workspace/index.html#%E5%AE%89%E8%A3%85%E5%86%85%E9%83%A8-workspace-%E4%BE%9D%E8%B5%96
link-workspace-packages = true